<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>akextract</string>
	<key>CFBundleDisplayName</key>
	<string>eXtract Wizard</string>
	<key>CFBundleSpokenName</key>
	<string>Extract Wizard</string>
	<key>CFBundleIdentifier</key>
	<string>com.akeeba.extractwizardgtk</string>
	<key>CFBundleExecutable</key>
	<string>extract</string>
	<key>CFBundleIconFile</key>
	<string>extract</string>
</dict>
</plist>
